body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280;
    margin: 0 auto;
    padding-top: 78px;
    background-image: url(../imagens/pokemon-dia.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

body.modo-escuro {
    background-image: url(../imagens/pokemon-noite.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    width: 100%;
    top: 0;
}

header .logo,
header .imagem-botao {
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.06);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background: linear-gradient(90deg, rgb(243, 132, 4) 0%, rgb(205, 250, 6) 35%, rgb(8, 228, 8) 100%);
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
    color: darkblue;
}

main .cartao-pokemon:hover {
    background: linear-gradient(90deg, rgb(235, 4, 35) 0%, rgb(205, 250, 6) 35%, rgba(0, 212, 255, 1) 100%);
}

.modo-escuro .cartao-pokemon {
    background: linear-gradient(90deg, rgb(139, 4, 250) 0%, rgb(6, 234, 250) 35%, rgb(0, 38, 255) 100%);
    color: darkblue;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-pokemon .gif {
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.planta {
    background-color: green;
}

.veneno {
    background-color: darkmagenta;
}

.fogo {
    background-color: red;
}

.agua {
    background-color: #00A4CD;
}

.inseto {
    background-color: brown;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 14px;
    padding-right: 10px;
}